<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add Word</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="box is-vcentered has-text-centered has-background-danger has-text-info-dark" style="margin: 20px 33vw;">
        <h1 class="title">Add a New Word</h1>
        <form method="post">
            <div style="display: flex; flex-direction: row;" class="is-justify-content-center">
                <div style="display: flex; margin-right: 5px;">
                    <label for="japanese_word">Japanese Word:</label>
                    <input class="input has-text-link-dark is-inline has-background-light" type="text" id="japanese_word" name="japanese_word" required>
                </div>
    
                <br>
                <div style="display: flex; margin-left: 5px;">
                    <label for="translation">Translation:</label>
                    <input class="input is-inline has-text-link-dark has-background-light" type="text" id="translation" name="translation" required>
                </div>
    
                <br>
            </div>
            <div style="display: flex; justify-content: center;">
                <button type="submit" class="button has-background-primary" style="width: 50%; margin: 5px 0;">Add Word</button>
            </div>
        </form>
    </div>
    
    
    <div class="box is-vcentered has-text-centered has-background-info has-text-danger-dark" style="margin: 20px 33vw;">
        <h1 class="title">Remove a word</h1>
        {% for word in words %}
            <p>{{ word['japanese_word'] }} : {{ word['translation'] }}</p>
            <form action="{{ url_for('delete_word', id=word['id']) }}" method="post" style="display:inline;">
                <button type="submit" class="button has-background-danger">Delete</button>
            </form>
        {% endfor %}
    </div>
    
    <div class="container" id="b-box">
        <div class="bottom-right notification is-primary">           
                <form action="{{ url_for('home') }}" >
                    <input type="submit" value="Home" class="button is-primary"/>
                </form>
        </div>
      </div>
</body>
</html>
