<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Word Learner</title>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="block has-background-primary title">
        <div class="has-text-centered has-text-primary-dark title is-1">
            Wordcards
        </div>
    </div>

    <div class="container is-block">
        <div class="columns">
            <!-- First Column: Language Selection -->
            <div class="column is-inline">
                <div>
                    Choose the language you want to translate
                </div>
                <div class="control">
                    <label class="radio">
                      <input type="radio" name="language" value="japanese" checked />
                      Japanese
                    </label>
                    <label class="radio">
                      <input type="radio" name="language" value="dutch" />
                      Dutch
                    </label>
                </div>
            </div>
            
            <!-- Second Column: Submit Form -->
            
        </div>
    </div>
    

    <div class="container" id="word-container">
        {% for word, translation in words %}
        <div class="columns">
            <div class="column is-half has-background-danger has-text-right has-text-link-dark word" data-word="{{ word }}" data-translation="{{ translation }}">{{ word }}</div>
            <div class="column is-half field is-grouped">
                <input type="text" class="translation-input input" placeholder="Info input">
                <button onclick="checkTranslation(this)" class="button is-primary">Check</button>
                <span class="translation" style="display: none;">{{ translation }}</span>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container" id="b-box">
        <!-- Your content here -->
        <div class="bottom-right notification is-primary">           
                <form action="{{ url_for('add_word') }}" >
                    <input type="submit" value="Update word list" class="button is-primary"/>
                </form>
        </div>
      </div>
</body>
</html>
